body {
  padding: 5rem;
  background-image: radial-gradient(circle, #203890 0%, #e62b40 150%);
  color: #fff;
}

.intro article {
  color: #fff;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.intro h1,
.intro h2 {
  margin: 0 0 5px;
  font-size: 3rem !important;
}

.intro p {
  margin: 15px 0;
}

.intro article a {
  background-color: #fff;
  color: #203890;
  padding: 1rem;
  display: inline-block;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  text-decoration: none !important;
}
